:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #34547A;
    --color-secondary: #727272;
    --color-grey-light: #EEEFF1;

    --font-size: 16px;
    --font-family: "Roboto", sans-serif;
    --line-height-lg: 1.625;
    --line-height-sm: 1.19;
    --letter-spacing: 0.1em;

    --container-primary: 1110px;
    --container-small: 540px;

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: normal;
}

a {
    text-decoration: none;
}

.container {
    width: min(100% - 40px, var(--container-primary));
    margin-inline: auto;
}

.container--sm {
    width: min(100% - 40px, var(--container-small));
    margin-inline: auto;
}

.header {
    background-color: var(--color-grey-light);
    padding-top: 80px;
    padding-bottom: 140px;
}

.navbar {
    margin-bottom: 162px;

}
.navbar__list {
    list-style: none;
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: var(--color-black);
}

.navbar__link--active {
    color: var(--color-primary);
    font-weight: 500;
}

.content {
    max-width: 500px;
}
.content__title {
    margin-bottom: 60px;
    font-weight: 500;
}
.content__description {
    margin-bottom: 65px;
    line-height: var(--line-height-lg);
    color: var(--color-secondary);
}
.content__link {
    display: block;
    width: 225px;
    height: 65px;
    background: var(--color-primary);
    padding: 0.5em;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section {
    padding-top: 112px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}

.section__title {
    font-weight: 500;
    font-size: 32px;
    line-height: var(--line-height-sm);
    text-align: center;
    color: var(--color-black);
    margin-bottom: 50px;
}

.section__description {
    line-height: var(--line-height-lg);
    text-align: center;
    color: var(--color-secondary);  
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.expirience {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 100px 0;

}

.expirience__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.expirience-item {
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.expirience-item__description {
    line-height: var(--line-height-lg);
}
.expirience-item__title {
    font-weight: 500;
    font-size: 21px;
    line-height: var(--line-height-sm);
}

.process__video {
    width: 1110px;
    height: 600px;
    border: 0;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 50px 0;
}

.footer__name {

    font-weight: 500;
    font-size: 21px;
    line-height: var(--line-height-sm);
    margin-bottom: 10px;
}

.footer__copyright {
    font-size: 13px;
    line-height: var(--line-height-lg);
}